*.slo
*.lo
*.o
*.cuo
*.so
*.dylib
*.lai
*.la
*.a
*.pb.h
*.pb.cc
*_pb2.py
*.pyc
*.mex*
.ipynb_checkpoints
*.swp
*~
*.sublime-workspace
*.sublime-project
*.*project
.settings
*.user
.idea
.DS_Store
Makefile.config
data/*
models/*
*.caffemodel
*.solverstate
*.binaryproto
*.prototxt
*leveldb
*lmdb
build
.build_debug/*
.build_release/*
distribute/*
*.testbin
*.bin
python/caffe/proto/
cmake_build
.cmake_build
docs/_site
docs/gathered
_site
doxygen
docs/dev
*.sst
*.ldb
LOCK
LOG*
CURRENT
MANIFEST-*
